<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.InstantFeedback.Student"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="16"/>
    <application android:label="@string/app_name" android:icon="@drawable/logo">
        <activity android:name="StudentMainActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".StudentLectureActivity"
                  android:label="Lecture Screen"
                  android:parentActivityName="com.InstantFeedback.Student.StudentMainActivity"
                  android:theme="@android:style/Theme.Holo.NoActionBar">
        </activity>
    </application>
</manifest>
